@media screen and (max-width: 576px) {
  .nav-right {
    display: none;
  }

  .header-main {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
  }

  .header-right {
    width: 80%;
  }
  .header-left {
    width: 80%;
    /* margin-left: 40px; */
  }

  .text-title {
    font-size: 2.5rem;
    align-content: center;
  }

  .text-p {
    font-size: 16px;
  }

  .header-btn1,
  .header-btn2 {
    text-align: center;
    width: 100%;
    align-items: center;
    margin-top: 20px;
  }

  .header-right img {
    max-width: 100%;
    height: auto;
  }

  .floating-box {
    padding: 10px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    text-align: center;
    color: white;
    position: absolute;
    top: 25%;
    right: -10%;
  }

  .card-container {
    flex-direction: column;
    /* text-align: center;
    align-items: center;
    justify-content: center; */
  }
  .card-section {
    max-width: 400px;
    align-items: center;
  }

  .habit-title {
    font-size: 1.2rem;
  }

  .run-extra-container {
    flex-direction: column;
  }
  .text-item {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .img-item {
    width: 340px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .section-team-container {
    width: 430px;
    flex-direction: column;
  }

  .team-title {
    color: aliceblue;
    font-size: 2rem;
    text-align: center;
  }
  .team-img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .team-img-box {
    width: 100%;
    margin: 0 auto;
  }

footer{
    height: 570px;
}

  .footer-container {
    flex-direction: column; 
    align-items: center; 
    padding: 10px; 
  }

  .footer-right,
  .footer-left {
    width: 100%; 
    /* height: 100%; */
    margin: 10px 0; 
    text-align: center; 
  }

  .footer-right h1 {
    font-size: 4rem;
    margin-right: 100px;
  }

  .footer-left{
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }
  .fitness-p {
    font-size: 13px;
    margin-right: 50px; 
  }

  hr {
    margin-top: 300px;
    width: 80%; 
    margin: 0 auto;
  display: none;

}

  .footer-p {
    font-size: 12px; 
    margin-top: 245px
  }

}
