* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Grey+Qo&display=swap");

/* Navbar Design  */
.navbar-container {
  background-image: linear-gradient(
    #111111 100%,
    #1c1c1c 90%,
    #1d1d1d 89%,
    #343434 67%,
    #343434 67%,
    #383838 63%,
    #777777 0%
  );
}

.navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 1000px;
  margin: 0 auto;
}
.floating-box {
  padding: 20px;
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  text-align: center;
  color: white;
  position: absolute;
  top: 25%;
  right: -25%;
}

.floating-box-2 {
  padding: 20px;
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 10%;
  left: -10%;
}
.nav-left {
  color: orangered;
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-weight: bolder;
}
.nav-border {
  border: 1px solid gray;
  border-radius: 20px;
}

.nav-right button {
  background-color: transparent;
  border: none;
  margin-right: 20px;
  color: whitesmoke;
}
.nav-right .home-btn {
  background-color: orangered;
  border-radius: 25px;
  padding: 10px;
}

/* header design here */
.header-main {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.text-title {
  font-size: 4rem;
  margin-bottom: 15px;
  color: white;
}
.text-p {
  font-size: 16px;
  color: rgb(145, 142, 142);
}
.header-left {
  width: 50%;
  margin: 0 auto;
}
.header-right {
  width: 30%;
  position: relative;
}
.header-right img {
  width: 100%;
}
.header-btn1,
.header-btn2 {
  border-radius: 20px;
  border: none;
  width: 180px;
  padding: 8px;
  margin-top: 15px;
}
.header-btn1 {
  background-color: orangered;
  color: white;
  margin-right: 15px;
}
.header-btn2 {
  background-color: rgb(66, 65, 65);
  color: white;
}

/* main design here */
.habit-container {
  background-color: rgb(29, 26, 26);
  margin: auto;
}
.habit-title {
  text-align: center;
  font-size: 2rem;
  color: white;
}
.habit-title h1 {
}
/* Card Section Design */
.card-section {
  width: 1000px;
  margin: 40px auto;
}
.card-container {
  display: flex;
  text-align: center;
  margin-top: 30px;
  gap: 20px;
}
.card-container img {
  border-radius: 50%;
}
.card-text,
p {
  margin-top: 10px;
  color: white;
}

/* run container design */
.run-extra-container {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 80px;
}
.text-item {
  width: 50%;
  text-align: justify;
  margin: 20px;
}
.easy-title {
  font-size: 2.5rem;
  color: whitesmoke;
}
.easy-p {
  color: rgb(145, 142, 142);
}
.img-item {
  width: 50%;
}
.img-item img {
  width: 80%;
  margin-top: 10px;
  margin-left: 40px;
  border-radius: 20px;
}

/* meet container design */
.section-team-container {
  display: flex;
  background-color: rgb(29, 26, 26);
}
.team {
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}
.team-title {
  color: aliceblue;
  font-size: 2.5rem;
}
.team p {
  color: rgb(145, 142, 142);
}
/* team-img-container */
.team-img-container {
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 20px;
  padding: 30px;
  margin-top: 25px;
}

.team-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.team-img-box {
  width: 100%;
  width: auto;
  border-radius: 15px;
  opacity: 80%;
}

.team-img-box h2 {
  text-align: center;
  padding: 20px;
  margin-top: 150px;
  color: white;
}

/* Footer Design */
footer {
  height: 380px;
  background-color: rgb(25, 25, 25);
}
.footer-container {
  height: 300px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /* margin-top: 80px; */
}

.footer-right {
  width: 50%;
  text-align: justify;
  margin: 20px;
}

.footer-right h1 {
  font-size: 3rem;
  color: orangered;
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-weight: bolder;
}
.fitness-p{
  color: rgb(145, 142, 142);
  font-size: 14px;
}

.footer-left {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  width: 50%;
}
hr{
  /* display: flex; */
  max-width: 1000px;
  margin: 0 auto;
  color: rgb(145, 142, 142);
  /* background-color: #1d1d1d; */
  
}
.footer-p{
  color: rgb(145, 142, 142);
  display: flex;
  justify-content: center;
  margin-top: 30px;
}